@font-face {
  font-family: 'GmarketSansMedium';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

// 공통
$fontFamily: 'GmarketSansMedium';
$basicColor: #333;
$WiteBgColor: #fff;
$siteWidth: 1080px;


* {
  font-family: $fontFamily;
  font-weight: 300;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: $basicColor;
  text-underline-position: under;
  /* underline 띄어주기 */

}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  width: $siteWidth;
  display: flex;
  align-items: center;
  height: 100%;
  margin: 0 auto;
}

.banner-bar {
  height: 32px;
  background-color: #fafafa;
}

/* 탑바 구현 시작 */

.top-bar {
  min-width: $siteWidth;
  height: 80px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  background-color: $WiteBgColor;
  position: relative;
}

// 상단고정
.top-bar.fixed {
  position: fixed;
  z-index: 10;
  left: 0;
  right: 0;
}


// 날개
.showback {
  &::before {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    height: 0;
    background-color: $WiteBgColor;
    z-index: 100;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  }

  &:hover::before {
    height: 400px;
  }
}

// 상단 메뉴 구현 

.menu {
  margin-left: auto;

  .menu-gnb {
    display: flex;

    li {
      a {
        padding: 0 25px;
        position: relative;
      }

      .menu-sub {
        display: none;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        min-height: 400px;
        max-width: $siteWidth;
        margin: 0 auto;
        z-index: 9999999;

      }
    }
  }
}

// 메뉴 밑줄

.menu {
  .menu-gnb {
    >li:hover {
      >a {
        text-decoration: underline;

        &::after {
          content: "";
          position: absolute;
          left: 0;
          bottom: -30px;
          width: 100%;
          height: 1px;
          background-color: $basicColor;
        }
      }
    }
  }
}





.menu-gnb {
  li {
    &:hover {
      .menu-sub {
        display: block;
        padding: 60px;
        line-height: 2;
        text-align: center;
      }
    }

    .sub-item {
      ul {
        display: flex;
        justify-content: space-between;
        white-space: nowrap;

        li {
          a {
            font-size: 17px;
            font-weight: 500;

            &:hover {
              text-decoration: underline;
            }

          }

          ul {
            display: flex;
            flex-direction: column;

            li {
              a {
                font-size: 13px;

                &:hover {
                  text-decoration: underline;

                }
              }
            }

          }
        }
      }
    }

  }
}


// 드롭다운 구현 

.dropdown {

  .dropdown-box {
    .dropdown-btn {
      background-color: rgba(244, 244, 244, 0.8);
      color: #444;
      border: 1px solid rgba(229, 229, 229, 0.8);
      padding: 10px 20px;
      border-radius: 50px;
      cursor: pointer;
      display: flex;
      align-items: center;

      &::after {
        content: "";
        width: 12px;
        height: 12px;
        display: inline-block;
        background-image: url(../imgs/svg_line_arrow_down.svg);
        background-repeat: no-repeat;
        margin-left: 10px;
        transition: transform .3s;
      }

      &.act {
        &::after {
          transform: rotate(-180deg);
        }
      }
    }
  }
}


.dropdown {
  position: relative;

  .dropdown-menu {
    position: absolute;
    border-radius: 6px;
    top: 100%;
    margin-top: 30px;
    width: 240px;
    overflow: hidden;
    left: 50%;
    transform: translateX(-50%);
    background-color: $WiteBgColor;
    display: none;
    z-index: 9999999;

    ul {
      li {
        a {
          display: block;
          text-align: left;
          padding: 10px 24px;
          font-size: 13px;

          &::after {
            //아이콘
            content: '';
            display: inline-block;
            width: 12px;
            height: 12px;
            background: url(../imgs/svg_line_outlink.svg);
            background-size: 12px 12px;
            margin-left: 4px;
            vertical-align: middle;
          }
        }

        &:first-child {
          >a {
            padding-top: 15px;

          }
        }

        &:last-child {
          >a {
            padding-bottom: 15px;

          }
        }

        &:hover {
          >a {
            text-decoration: underline;
            background-color: #f7f7f7;
          }
        }
      }
    }

    &.act {
      display: block;
      border: 1px solid #ccc;
    }
  }
}

.icon {
  margin-left: 25px;
  display: flex;
  align-items: center;

  .globe-icon {
    display: inline-block;
    background-image: url(../imgs/icon_eng.svg);
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    text-indent: -9999px;

  }

  a:hover {
    .globe-icon {
      opacity: 0.3;
    }
  }

}


// 메인 섹션 배너 구현

.main-banner {
  position: relative;

  .container {
    background-image: url(../imgs/main-bg3.png);
    background-repeat: no-repeat;
    background-size: contain;
    height: 884px;
    position: relative;
    /* 텍스트 */

    .content {
      position: absolute;
      top: 0;
      left: 0;
      margin-top: 10rem;

      .title {
        h2 {
          font-size: 49px;
          font-weight: 500;
        }
      }

      .sub-title {
        font-size: 16px;
        font-weight: 200;
        line-height: 1.95;
        padding: 1rem 0;

        .sub1 {
          padding-bottom: 1rem;
        }
      }

      .links {
        margin-top: 2rem;

        ul {
          display: flex;
          justify-content: space-between;

          .link-store {
            display: flex;
            align-items: center;
            width: 178px;
            height: 56px;
            font-weight: 600;
            background-color: #f7f7f7;
            border-radius: 15px;

            &:hover {
              text-decoration: underline;

            }

            .icon {
              display: inline-block;
              background-image: url(../imgs/img_kabang_220615.png);
              background-repeat: no-repeat;
              width: 24px;
              height: 24px;
              margin-right: 5px;
              margin-top: -4px;

              &.g-icon {
                background-position: -341px -292px;
              }

              &.a-icon {
                background-position: -371px -292px;
              }
            }
          }
        }
      }

    }
  }

  .bg-color {
    position: absolute;
    background-color: #ffef6b;
    width: 100%;
    top: 0;
    height: 648px;
    z-index: -1;
  }

}

//배너 컨텐츠 구현

.banner-wrap {
  .banner-type {
    height: 750px;

    .content {
      display: flex;
      height: 100%;
      width: $siteWidth;
      margin: 0 auto;

      .img-box {
        width: 45%;
      }

      .ctt-box {
        width: 55%;

        .main-ctt {
          h3 {
            font-size: 40px;
            font-weight: 500;
          }

          p {
            margin-top: 24px;
            font-size: 15px;
            font-weight: 100;
            line-height: 1.7;
            color: #666;
          }

        }

        .btn {
          .icon {
            margin-left: 10px;

          }

          a {
            background-color: #f6f6f6;
            border-radius: 10px;
            font-size: 16px;
            color: $basicColor;
            width: 258px;
            height: 56px;
            display: flex;
            align-items: center;
            justify-content: center;
          }

          .txt:hover {
            text-decoration: underline;
          }
        }

      }
    }
  }
}


// 컨텐츠 1 

.banner-type {
  &.type1 {
    display: flex;

    .content {
      .img-box {
        position: relative;
        left: 20px;

        img {
          width: 473px;
          position: absolute;
          top: 36px;
        }
      }

      .ctt-box {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        left: 100px;

        .main-ctt {
          position: absolute;
          top: 210px;
        }

        .btn {
          margin-top: 10rem;
        }
      }
    }


  }

}


// 컨텐츠 2


.banner-type {
  &.type2 {

    .content {
      .img-box {
        position: relative;
        left: 40px;

        img {
          position: absolute;
          width: 409px;
          top: 20px;
        }
      }

      .ctt-box {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        left: 70px;

        .main-ctt {
          position: absolute;
          top: 210px;
        }

        .btn {
          display: flex;
          margin-top: 20rem;
          gap: 5px;

          a {
            width: 158px;
          }
        }

        .sub-img {
          margin-top: 40px;

          img {
            width: 440px;
          }
        }
      }
    }
  }
}


// 컨텐츠 3

.banner-type {
  &.type3 {
    .content {
      .img-box {
        position: relative;
        left: 50px;

        img {
          position: absolute;
          width: 459px;
          top: 85px;
        }
      }

      .ctt-box {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        left: 120px;

        .main-ctt {
          position: absolute;
          top: 210px;
        }
      }

      .btn {
        display: flex;
        margin-top: 13rem;

        a {
          width: 258px;
        }
      }

    }
  }
}


//컨텐츠 4

.banner-type {
  &.type4 {
    .content {
      .ctt-box {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        left: 120px;

        .main-ctt {
          position: absolute;
          top: 230px;
        }
      }

      .btn {
        display: flex;
        margin-top: 13rem;

        a {
          width: 258px;
        }
      }

      .img-box {
        position: relative;

        img {
          position: absolute;
          width: 492px;
          top: 150px;
        }
      }
    }
  }
}

// 컨텐츠 5

.banner-type {
  &.type5 {
    background-image: url(../imgs/home_map.png);
    background-repeat: no-repeat;
    background-position: -20%;
    background-size: calc(50% - 100px);

    .content {
      .img-box {
        position: relative;
        margin-left: 100px;
        margin-right: 100px;

        img {
          position: absolute;
          width: 408px;
          top: 20px;
        }
      }

      .ctt-box {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        left: 20px;

        .main-ctt {
          position: absolute;
          top: 196px;
        }

      }

      .btn {
        display: flex;
        margin-top: 20rem;

        a {
          width: 258px;
        }
      }
    }
  }
}


// 대출박스 구현 

.loan {
  height: 930px;
  position: relative;
  overflow: hidden;

  &:hover {
    .sky {
      .blue {
        height: 0;
      }
    }
  }

  .sky {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #333b58;

    .blue {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #559cde;
      transition: height .5s;
    }

    .moon {
      position: absolute;
      width: 110px;
      height: 110px;
      border-radius: 50%;
      left: calc(50% + 450px);
      top: 200px;
      overflow: hidden;

      .base {
        width: 110px;
        height: 110px;
        border-radius: 50%;
        left: calc(50% + 450px);
        background-color: #ffdc00;
        transition: background-color .5s .5s;
      }

      &:hover {
        .base {
          background-color: $WiteBgColor;
        }

        .shadow {
          top: -23%;
          left: -23%;
          background-color: #333b58;
        }
      }

      .shadow {
        position: absolute;
        top: -100%;
        left: -100%;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        transform: top .5s .5s, left .5s .5s;
      }
    }



  }

}


// 텍스트 
.loan {
  .sky {
    .content {
      position: relative;
      margin: 0 auto;
      text-align: center;
      z-index: 1;

      .ctt-box {
        padding-top: 160px;

        h3 {
          font-size: 40px;
          font-weight: 600;
          color: $WiteBgColor;
          line-height: 1.75;
        }

        p {
          font-size: 15px;
          color: $WiteBgColor;
          opacity: .6;
          line-height: 1.75;

        }
      }

      .img-box {
        margin-top: 30px;

        img {
          position: absolute;
          width: 429px;
          left: 50%;
          transform: translateX(-50%);
        }
      }

      .menu-box {
        margin-top: 30px;

        ul {
          display: flex;
          justify-content: center;
          gap: 5px;

          li {
            a {
              display: flex;
              align-items: center;
              justify-content: center;
              width: 166px;
              height: 52px;
              border-radius: 10px;
              background-color: rgba(255, 255, 255, 0.09);

              span {
                color: $WiteBgColor;
              }

              &::after {
                content: " >";
                margin-left: 5px;
                color: $WiteBgColor;
              }
            }

            &:hover {
              a {
                span {
                  text-decoration: underline;
                }
              }
            }
          }
        }
      }
    }
  }
}


// 별소스

.sky {

  .night {
    .stars {
      .ico-star {
        position: absolute;
        width: 4px;
        height: 4px;
        border-radius: 4px;
        background-color: $WiteBgColor;
      }
    }
  }

}

.ico-star-1 {
  top: 30%;
  left: 10%;
  animation: clittering 2s infinite;
}

.ico-star-2 {
  top: 10%;
  left: 20%;
  animation: clittering 3s infinite;
}

.ico-star-3 {
  top: 25%;
  left: 15%;
  animation: clittering 5s infinite;
}

.ico-star-4 {
  top: 40%;
  right: 15%;
  animation: clittering 2s infinite;
}

.ico-star-5 {
  top: 43%;
  right: 30%;
  animation: clittering 4s infinite;
}

.ico-star-6 {
  top: 73%;
  right: 27%;
  animation: clittering 1.8s infinite;
}

.ico-star-8 {
  top: 65%;
  left: 22%;
  animation: clittering 3.5s infinite;
}


@keyframes clittering {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }

  50% {
    opacity: 1;
    transform: scale(0.9);
  }

  100% {
    opacity: 0;
    transform: scale(0.5);
  }
}


// 체크카드 박스 구현


.check-box {
  height: 1062px;

  .ctt-box {
    text-align: center;
    padding-top: 150px;

    .main-ctt {
      h3 {
        font-size: 40px;
        font-weight: 600;


      }

      p {
        font-size: 15px;
        padding-top: 30px;
      }
    }

    .btn {
      display: flex;
      justify-content: center;
      padding-top: 30px;

      a {
        background-color: #f6f6f6;
        border-radius: 10px;
        font-size: 16px;
        color: #333;
        width: 258px;
        height: 56px;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .txt:hover {
        text-decoration: underline;
      }

      .icon {
        margin-left: 10px;
      }
    }
  }
}

// 체크카드 스와이퍼 

.check-box {

  .swiper-wrap {
    position: relative;
    max-width: 1080px;
    margin: 0 auto;
    margin-top: 100px;

    .swiper {
      width: 660px;
      height: 475px;

      .swiper-wrapper {
        .swiper-slide {
          display: flex;
          align-items: center;
          justify-content: center;

          img {
            display: block;
            width: 220px;
            transition: transform .3s;
          }

          &.swiper-slide-active {
            z-index: 10;

            img {
              transform: scale(1.2);
            }

          }

        }
      }
    }

    .swiper-button-prev,
    .swiper-button-next {
      &::after {
        display: none;
      }
    }

    .swiper-button-prev {
      &::before {
        content: url(../imgs/img-left.png);

      }
    }

    .swiper-button-next {
      &::before {
        content: url(../imgs/img-right.png);

      }
    }

  }
}


// it 박스 구현

.it {
  background-color: #f9f9f9;
  padding-bottom: 100px;
  position: relative;

  .content {
    padding-top: 160px;
    text-align: center;

    .title {
      font-size: 40px;
      font-weight: 500;
      line-height: 1.35;
    }

    .it-bar {
      width: 100px;
      height: 2px;
      background-color: $basicColor;
      margin: 50px auto 140px;
    }

    .it-line {
      height: 1px;
      width: 100%;
      background-color: #eee;
      position: absolute;
      top: 583px;
    }

    .info-box {
      .img-box {
        img {
          position: relative;
          width: 1020px;
        }
      }

      .ctt-box {
        max-width: 1020px;
        margin: 0 auto;

        ul {
          display: flex;

          li {
            display: flex;
            flex-direction: column;
            flex-grow: 1;

            &:nth-child(3) {
              flex-grow: 4;
            }

            strong {
              display: block;
              font-size: 18px;
              margin: 45px 0 17px;
            }

            p {
              font-size: 14px;
              line-height: 24px;
              color: #666;
              font-weight: 200;
            }

          }
        }
      }
    }
  }
}

//footer 하단 구현 